<!DOCTYPE html>
<html>
    <head>
        <title>Hold</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        {{> header}}
        <p>
           Site is being updated!!!
        </p>
        <p>Return later.</p>
    </body>
    {{> footer}}
</html>
